
<div class="header">
  <div class="header1">
  <div class="container">
    <div class="codersEra"><span>CodersEra</span></div>

    <app-card [data]="parentObj"></app-card>
    <div class="btnGroup">
      <div class="btnGroup-code">
        <button class="btnGroup-coderBtn">Apply As A Coder</button>
        <button class="btnGroup-coderHireBtn">Consult a coder</button>
      </div>
      <div class="btnGroup-outSource">
      <button class="btnGroup-outSourceBtn">Outsource a Project</button>
      </div>
    </div>
  </div>
  </div>
</div>
