//
//
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=0277BD

$color-dark : #004c8c;
$color-primary :  #0277bd;
$color-light: #58a5f0;

$color-background: #EEEEEE;




$color-btn-background: #ff8e00;
$color-white: white;
$color-btn-hover: rgba(0, 0, 0, 0.36);

$color-footer-background: #34444a;
$color-footer-text:rgba(255,255,255,0.7);
$color-footer-heading: #c1b6b5;


$card-padding: 10rem;
$gap-padding: 5rem;
$gap-padding-low : 1rem;
