
$color-one: #f6c4f8;
$color-two: rgba(239, 150, 243, 0.63);
$color-three: #ea78ef;
$color-four: #e34aea;
$color-five: #dc1ce5;
$color-six: #ce19d7;
$color-navbar-primary: #680d6c;
$color-eight: rgb(60, 7, 63);
$color-btn-background: #ff8e00;
$color-white: white;
$color-btn-hover: rgba(0, 0, 0, 0.36);

$color-footer-background: #34444a;
$color-footer-text:rgba(255,255,255,0.7);
$color-footer-heading: #c1b6b5;

