.coder-information-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 10rem;
}
.information-form{
  display: inline-block;
  width: 63%;
  border: 2px solid #dbdbdb;
  margin-top: 3rem;
  @include matStyle();


  mat-form-field{
    width: 60%;
  }
  h1{
    text-align: center;
    border-bottom: 2px solid #dbdbdb;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    span{
      @include textDecoration();
      color: $color-dark;
      font-family: Roboto;
      font-size: 2.5rem;
    }
  }
}
