.header{
background-image: linear-gradient(to bottom,$color-two,$color-eight),url("../assets/header.jpg");
  background-attachment: fixed;
  padding-top: 10rem;
  width: 100%;
  min-height: 100vh;
}
.codersEra{
  text-align: center;
  span{
    font-size: 25rem;
    color: $color-white;
  }
}
.header-container{
  margin: 0 auto;
}

@media (max-width: 1160px) {
  .codersEra{
    span{
      font-size: 15rem;
    }
  }
}
@media (max-width: 700px) {
  .codersEra{
    span{
      font-size: 10rem;
    }
  }
}
@media (max-width: 480px) {
  .codersEra{
    span{
      font-size: 6rem;
    }

  }
}


